<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150563096063-q1eou06raefk65v5umsdl7l927v6ka9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150563096063-q1eou06raefk65v5umsdl7l927v6ka9p</string>
	<key>API_KEY</key>
	<string>AIzaSyA7O70fHLQmAOV-KDD_RI5fwQYdA8BWzRE</string>
	<key>GCM_SENDER_ID</key>
	<string>150563096063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.whatsMyFoodasd</string>
	<key>PROJECT_ID</key>
	<string>whatsmyfood</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsmyfood.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150563096063:ios:79a80946c184f09c</string>
	<key>DATABASE_URL</key>
	<string>https://whatsmyfood.firebaseio.com</string>
</dict>
</plist>